Repository engteam14/documentation2, pull requests merged in 2022-04, with the labels that each got.

#77 further formatting updates and clear up points/XP clarity
  Requirements.md
Labels: Requirements

#75 Method selection and planning
  Method Selection and Planning.md
  Road-map1.png
  Team Tasks1.png
Labels: Method Selection + Planning

#81 Started change report by adding first round of requirements changes
  Change Report.md
Labels: Requirements, Change Management

#85 Added a piece of code to display image in the pdf document
  Method Selection and Planning.md
Labels: Method Selection + Planning

#83 Testing Methods and approaches
  Testing.md
Labels: Testing Doc

#88 Added a line describing how we developed manual tests.
  Testing.md
Labels: Testing Doc

#89 Method selection and planning
  Method Selection and Planning.md
  Previous teams' team assignment.png
  road-map2-review11.png
Labels: Method Selection + Planning

#93 Method selection and planning
  Method Selection and Planning.md
  Team_Task_Assignment_2.png
Labels: Method Selection + Planning
